<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <style>
      .custom-container {
        max-width: 100%; /* Remove Bootstrap's width limitation */
        margin: 0 auto; /* Ensure it's centered */
        padding-left: 15px; /* Add some padding for spacing */
        padding-right: 15px;
      }

      @media (min-width: 768px) {
        .custom-container {
          max-width: 95%; /* Give some breathing room on larger screens */
        }
      }

      /* Adjust row and card behavior */
      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between; /* Ensure spacing between items */
        margin-left: 4px;
        margin-right: 4px;
      }

      .card {
        flex: 1 1 calc(33.333% - 15px); /* Each card takes up 1/3rd of row with 15px gap */
        max-width: 100%; /* Prevent cards from overflowing */
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %> <% if (locals.user) { %>

    <div class="custom-container mt-1">
      <h4
        class="task-heading py-2 px-3 mb-3 d-inline-flex align-items-center"
        style="font-family: 'Kaushan Script'"
      >
        <span class="material-symbols-outlined me-2">assignment</span>
        Incomplete Tasks
      </h4>

      <div class="row">
        <% tasks.forEach(task => { %> <% if (task.status == "Incomplete") { %>
        <div class="card shadow-sm rounded-md border border-gray-200">
          <div class="card-body p-1">
            <h5 class="card-title text-xxs font-medium text-gray-700" style="color: orange;">
              <%= task.title %>
            </h5>
            <p class="card-text text-xxs text-gray-500">
              <%= task.description %>
            </p>
            </p>
            <p class="card-text text-xxs text-gray-500">
              Type of Task: <%= task.typeoftask %>
            </p>
            <p class="card-text text-xxs text-gray-500">
              Due Date: <%= task.duedate ? task.duedate.toLocaleDateString() :
              'No due date' %>
            </p>

            <div class="flex space-x-2">
              <a
                href="/task/editTask/<%= task._id %>"
                class="btn btn-primary btn-sm"
                style="font-size: 5px; padding: 2px"
                title="Edit task"
                ><span class="material-symbols-outlined">edit</span></a
              >
              <a
                href="/task/delete/<%= task._id %>"
                class="btn btn-danger btn-sm"
                title="Delete task"
                style="font-size: 5px; padding: 2px"
                ><span class="material-symbols-outlined">delete</span></a
              >
              <a
                href="/task/status/<%= task._id %>"
                class="btn btn-success btn-sm"
                title="Complete task"
                style="font-size: 5px; padding: 2px"
                ><span class="material-symbols-outlined">task_alt</span></a
              >
            </div>
          </div>
        </div>
        <% } %> <% }) %>
      </div>

      <h4
        class="task-heading py-2 px-3 mb-3 d-inline-flex align-items-center"
        style="font-family: 'Kaushan Script'"
      >
        <span class="material-symbols-outlined me-2">assignment</span>
        Complete Tasks
      </h4>

      <div class="row">
        <% tasks.forEach(task => { %> <% if (task.status != "Incomplete") { %>
        <div class="card shadow-sm rounded-md border border-gray-200">
          <div class="card-body p-1">
            <h5 class="card-title text-xxs font-medium text-gray-700" style="color: orange;">
              <%= task.title %>
            </h5>
            <p class="card-text text-xxs text-gray-500">
              <%= task.description %>
            </p>
            <p class="card-text text-xxs text-gray-500">
              Type of Task: <%= task.typeoftask %>
            </p>
            <p class="card-text text-xxs text-gray-500">
              Due Date: <%= task.duedate ? task.duedate.toLocaleDateString() :
              'No due date' %>
            </p>

            <div class="flex space-x-2">
              <a
                href="/task/status/<%= task._id %>"
                class="btn btn-warning btn-sm"
                title="Incomplete task"
                style="font-size: 5px; padding: 2px"
                ><span class="material-symbols-outlined">
                  change_circle
                </span></a
              >
              <a
                href="/task/delete/<%= task._id %>"
                class="btn btn-danger btn-sm"
                title="Delete task"
                style="font-size: 5px; padding: 2px"
                ><span class="material-symbols-outlined"> delete </span></a
              >
            </div>
          </div>
        </div>

        <% } %> <% }) %>
      </div>
    </div>

    <% } %> <%- include('./partials/script') %>
  </body>
</html>
